{% load static %}
<html>
    <head>
        <title>EC-Seq</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
              rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
        <div>
            <header>
                <div class="nav-left">
                    <h1><a href="{% url 'home' %}">EC-Seq</a></h1>
                </div>
            </header>
            {% block content %}
            {% endblock content %}

            <form method="GET" action="/search/">
                <div class="form-group">
                    {% csrf_token %}
                    <p>
                        Gene search:
                        <input class="form-control"
                               type="text"
                               name="name"
                               value=" " />
                    </p>
                    <input type="submit" class="btn btn-primary" value="Search" />
                </div>
            </form>
        </div>

    </body>
</html>
