{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="span12">
        {% for result in results %}

        <p>Gene symbol: {{result.symbol}} ({{result.name}})</p>

        <p>EC II vs. Deep FDR: {% if result.eciivsd_adj_p_val <= 0.05 %} <b>{{result.eciivsd_adj_p_val}}</b> {% else %} {{result.eciivsd_adj_p_val}} {% endif %}</p>
        <p>Med vs. Lat FDR:  {% if result.mecvslec_adj_p_val <= 0.05 %} <b>{{result.mecvslec_adj_p_val}}</b> {% else %} {{result.mecvslec_adj_p_val}} {% endif %}</p>
        <p>P02/P09 vs P23/P45 FDR: {% if result.ovsy_adj_p_val <= 0.05 %} <b>{{result.ovsy_adj_p_val}}</b> {% else %} {{result.ovsy_adj_p_val}} {% endif %}</p>

        <img src="img/{{result.symbol}}.png" alt="{{result.symbol}}", height="525", width="700">
        <!-- # style="width:304px;height:228px;"> -->
        <p>
        <a href="http://genome-euro.ucsc.edu/cgi-bin/hgTracks?db=rn6&hubUrl=http://havpryd.medisin.ntnu.no/ECSeq/hub.txt&position={{result.symbol}}">View in the UCSC genome browser.</a>

        </p>
        {% endfor %}
        <form method="POST" action="/search">
            <div class="form-group">
                {% csrf_token %}
                <p>
                    Gene search:
                    <input class="form-control"
                           type="text"
                           name="name"
                           value=" " />
                </p>
                <input type="submit" class="btn btn-primary" value="Search" />
            </div>
        </form>
    </div>
</div>
{% endblock content %}
